.rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
footer { padding-top: 15px !important}
h2 {margin:0px;padding:10px 0;}

.fields {
	margin-bottom: 35px;
}

fieldset.title {
	padding: 1em;
}

.margin-title-field {
	margin-left: 5px;
}

.adjust-dashboard-icon {
	float: left;
	margin: -3px -4px 0 -10px;
}

.adjust-dashboard-firebase-icon {
	float:left;
	left:-2px;
	margin:-3px -1px -5px -5px !important;
	font-size:1.8em;
}
.centro{width:100%;margin:0 auto;text-align: center}
.centralizar{width:100%;margin:0 auto;text-align: center}
.bp{border:1px solid black;}
.br{border:1px solid #c7254e;border-radius: 5px}
.terminal {
	background: #300A24 !important;
	color: white !important;
	border-radius: 5px;
	border: 1px solid white;
}