Como o Bootstrap foi desenvolvido para ser móvel primeiro, usamos várias consultas de mídia para criar pontos de interrupção sensíveis para nossos layouts e interfaces. Esses pontos de interrupção baseiam-se principalmente nas larguras mínimas da janela de visualização e permitem escalar elementos à medida que a janela de visualização muda.
<br><br>

O Bootstrap usa principalmente os seguintes intervalos de consulta de mídia - ou pontos de interrupção - em nossos arquivos Sass de origem para nosso layout, sistema de grade e componentes.
<br><br>

<pre>
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}</pre>

<a href="https://getbootstrap.com/docs/4.3/layout/overview/">getbootstrap</a><br>
<a href="https://www.mydevice.io/">mydevice</a>