﻿<h2><i class="glyphicon glyphicon-sort fa-rotate-90 fa-fw"></i> Conversão</h2>
<h3>Convertendo para inteiro</h3>
<pre><code>SELECT <strong>CEILING</strong>(1235.53)
SELECT FLOOR(1235.53)
SELECT CAST(1235.53 AS INT)
</code></pre>
Retorno dos SQL's acima
<pre><code>1236
1235
1235
</code></pre>

<a href="https://stackoverflow.com/questions/39596519/how-to-convert-a-float-into-int-using-round-method-in-ms-sql">stackoverflow</a>
<br clear="all">
<h3>Convertendo para String</h3>
<pre><code>SELECT CONVERT(VARCHAR(8),1235.53)</code></pre>

<h3>REPLACE</h3>
O MySQL <b>REPLACE()</b> substitui todas as ocorrências de uma substring dentro de uma string.
<pre>REPLACE(str, find_string, replace_with)</pre>
exemplo:
<pre>UPDATE posts SET post = REPLACE(post,'microsof','linux') WHERE post LIKE '%microsoft%'</pre>
<a href="https://www.w3resource.com/mysql/string-functions/mysql-replace-function.php">Fonte[1]</a> 
<a href="https://stackoverflow.com/questions/5956993/mysql-string-replace">Fonte[2]</a>