﻿<h3>Derrubando Usuarios</h3>
Caso haja a necessidade de <code>DERRUBAR USUARIOS</code> por qualquer circustancia há uma funcionalidade<br>
você pode ter que derrubar os usuarios para fazer um export ou import de determinada database por exemplo.
<pre class="codificacao codigoSQLSERVER"><kbd>SQLSERVER</kbd>
<span style="color:blue">USE</span> [master]

<span style="color:blue">ALTER DATABASE</span> [SISCLAS_DEV]
<span style="color:blue">SET SINGLE_USER</span> <span style="color:green">--SETA como usuário unico para fechar conexões antes de restaurar backup</span>

    <b>CODIGO ANSISQL</b>

<span style="color:blue">SET MULTI_USER;</span> <span style="color:green">--volta para multi user depois de restaurar</span>
<span style="color:blue">GO</span></pre>    

<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/databases/set-a-database-to-single-user-mode?view=sql-server-2017">docs.microsoft</a>

<h3>Verificar deadlock</h3>
<pre><kbd>SQLSERVER</kbd>
SELECT  L.request_session_id AS SPID, 
    DB_NAME(L.resource_database_id) AS DatabaseName,
    O.Name AS LockedObjectName, 
    P.object_id AS LockedObjectId, 
    L.resource_type AS LockedResource, 
    L.request_mode AS LockType,
    ST.text AS SqlStatementText,        
    ES.login_name AS LoginName,
    ES.host_name AS HostName,
    TST.is_user_transaction as IsUserTransaction,
    AT.name as TransactionName,
    CN.auth_scheme as AuthenticationMethod
FROM    sys.dm_tran_locks L
    JOIN sys.partitions P ON P.hobt_id = L.resource_associated_entity_id
    JOIN sys.objects O ON O.object_id = P.object_id
    JOIN sys.dm_exec_sessions ES ON ES.session_id = L.request_session_id
    JOIN sys.dm_tran_session_transactions TST ON ES.session_id = TST.session_id
    JOIN sys.dm_tran_active_transactions AT ON TST.transaction_id = AT.transaction_id
    JOIN sys.dm_exec_connections CN ON CN.session_id = ES.session_id
    CROSS APPLY sys.dm_exec_sql_text(CN.most_recent_sql_handle) AS ST
WHERE   resource_database_id = db_id()
ORDER BY L.request_session_id;
</pre>
Fonte[1]Joao Vigini - 
<a href="https://social.msdn.microsoft.com/Forums/pt-BR/95a71ef7-ddbc-48ad-aad1-af7b71187ebd/script-de-monitorao-de-locks?forum=transactsqlpt">Fonte[2]</a>


<h3>Pesquisar o tipo das colunas em tabela especifica</h3>
<pre><code><kbd>SQLSERVER</kbd>
SELECT 
    c.name 'Column Name',
    t.Name 'Data type',
    c.max_length 'Max Length',
    c.precision ,
    c.scale ,
    c.is_nullable,
    ISNULL(i.is_primary_key, 0) 'Primary Key'
FROM sys.columns c 
    INNER JOIN sys.types t ON c.user_type_id = t.user_type_id
    LEFT OUTER JOIN sys.index_columns ic ON ic.object_id = c.object_id AND ic.column_id = c.column_id
    LEFT OUTER JOIN sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
WHERE
    c.object_id = OBJECT_ID('<strong>NOME_TABELA</strong>')
</code></pre>
<a href="https://stackoverflow.com/questions/2418527/sql-server-query-to-get-the-list-of-columns-in-a-table-along-with-data-types-no">stackoverflow</a>

<h2>SGBD SQLSERVER</h2>
<pre>SELECT * FROM INFORMATION_SCHEMA.COLUMNS;
SELECT * FROM sys.types;
SELECT * FROM sys.tables; 
SELECT * FROM sys.schemas;
SELECT * FROM sys.column;

SELECT
    s.name AS schema_name
    , t.name AS table_name
    , c.name AS column_name
    , c.max_length
    , ty.name AS data_type_name
    , td.DATA_TYPE 

FROM sys.tables AS t
    JOIN sys.schemas AS s ON s.schema_id = t.schema_id
    JOIN sys.columns AS c ON c.object_id = t.object_id
    JOIN sys.types AS ty ON ( ty.system_type_id = c.system_type_id AND ty.user_type_id = c.user_type_id )
    JOIN INFORMATION_SCHEMA.COLUMNS AS td ON ( td.TABLE_NAME = t.name AND td.COLUMN_NAME=c.name )
WHERE t.name = 'tblCdasiater'
ORDER BY ORDINAL_POSITION;
-- schema_name , table_name, column_name , data_type_name
;</pre>

<a href="https://stackoverflow.com/questions/37879881/joining-sys-columns-and-sys-tables-on-database-anme">Fonte[1]</a>
<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/tables/view-the-table-definition?view=sql-server-2017">Fonte[2]</a>
<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/tables/change-column-order-in-a-table?view=sql-server-2017">Fonte[3]</a>
<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/tables/view-the-table-definition?view=sql-server-2017">Fonte[4]</a>
<a href="https://social.msdn.microsoft.com/Forums/sqlserver/en-US/c29ad4d7-86fb-4b52-bf49-5e7f02172de5/syscolumnssystemtypeid?forum=sqltools">Fonte[5]</a>
<a href="https://dba.stackexchange.com/questions/136671/is-there-a-list-what-datatype-corresponds-to-the-system-type-id-in-sys-columns">Fonte[6]</a>
<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/system-catalog-views/sys-types-transact-sql?view=sql-server-2017">Fonte[7]</a>
<a href="https://stackoverflow.com/questions/6215459/t-sql-query-to-show-table-definition">stackoverflow</a>

<hr>

<h3>Pesquisar o tipo das colunas em tabela especifica[2]</h3>
<pre><code><kbd>SQLSERVER</kbd>
sp_help 'nome_tabela'
</code></pre>
<hr>

<h3>Mascarar CPF</h3>
O Campo CPF atualmente é composto de 11 caracteres numéricos(0-9), para fins de exemplos o nosso CPF terá essa composicao:<code>003.456.789-01</code><br/>
Ou seja, como o nosso banco é um tipo numerico no BD , ele está gravado dessa forma:<code>345678901</code><br/>

<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>CPF ORIGINAL</th>
						<th>CPF CORRIGIDO</th>
						<th>CPF MASCARADO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>345678901</td>
						<td>00345678901</td>
						<td>003.456.789-01</td>
					</tr>
					</tbody>
			</table>
		</div>
	</div>
</div>
<br clear="all">
<pre><code><kbd>SQLSERVER</kbd>
SELECT 
	'345678901' AS 'cpf original'
	,REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901') AS 'cpf com zeros'
	,SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),0,4)+'.'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),4,3)+'.'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),7,3)+'-'
		+SUBSTRING(REPLICATE('0', 11 - LEN('345678901')) + RTRIM('345678901'),10,2) 
	AS ' cpf mascarado'   
</code></pre>

<br clear="all">

<h3>Criar tabela de <b>BACKUP</b></h3>
<pre><kbd>SQLSERVER</kbd>
SELECT * INTO <strong>nova_tabela</strong> FROM <strong>tabela_atual</strong></pre>
<a href="https://imasters.com.br/artigo/12083/sql-server/como-copiar-estrutura-de-tabelas-no-sql-server?trace=1519021197&source=single">Fonte</a>

<hr>

<h3>Criar coluna <b>AUTOINCREMENT</b></h3>
<pre><kbd>SQLSERVER</kbd>
ALTER TABLE <b>nome_tabela</b> ADD <b>nome_coluna</b> INT IDENTITY CONSTRAINT <b>PK_nome_chave_primaria</b> PRIMARY KEY CLUSTERED 
</pre>
<a href="https://stackoverflow.com/questions/4862385/sql-server-add-auto-increment-primary-key-to-existing-table ">stackoverflow</a>

<hr>

<h3>Desabilitando o AUTOINCREMENT</h3>
<pre><kbd>SQLSERVER</kbd>
SET IDENTITY_INSERT [TableName] ON
	INSERT INTO [TableName] VALUES (colunas(s));
SET IDENTITY_INSERT [TableName] OFF 
</pre>
Fonte: Guilherme Dambros

<hr>

<h3>Exportando SCRIPT de banco de dados</h3>
<pre><kbd>MYSQL</kbd>
mysqldump -u usuario -p banco_de_dados > arquivo.sql
</pre>
Onde:<br>
<i>usuario: </i>nome do usuário no MySQL que tem acesso ao banco de dados<br>
<i>banco_de_dados:</i> nome do banco de dados que será exportado<br>
<i>arquivo.sql:</i> nome do arquivo para o qual os dados serão gravados<br>
Em seguida será solicitada a senha do usuário Mysql<br>
Fonte:<a href="http://www.isoftsolutions.com.br/exportando-e-importando-banco-de-dados-no-mysql-pela-linha-de-comandos/">isoftsolutions</a>
<hr>

<h3>Encontrar palavra na string</h3>
<pre><code><kbd>SQLSERVER</kbd>
DECLARE @document varchar(64);  
SELECT @document = 'Reflectors are vital safety components of your bicycle.';  
SELECT CHARINDEX('bicycle', @document);  
GO  
</code></pre>
Retorno
<pre>48</pre>

Ou seja, se o retorno for maior que zero(0) é porque <b>ENCONTROU</b>
<br><br>
<a href="https://docs.microsoft.com/pt-br/sql/t-sql/functions/charindex-transact-sql">microsoft</a>

<hr>

<h3>SQLSERVER: Truncar completando com zeros a esquerda</h3>            
Na verdade você pode completar com o caracter e sentido(direita ou esquerda) que quizer.<br>
No exemplo abaixo completei com zeros a esquerda pois o numero identificador do usuario tem que ter 5 de tamanho.
<pre><code>SELECT 171 AS 'normal' , REPLICATE('0', 5 - LEN(171)) + RTRIM(171) AS 'modificado'</code></pre>
Retorno
<table border="1">
    <tr>
        <th>normal</th>
        <th>modificado</th>
    </tr>
    <tr>
        <td>171</td>
        <td>00171</td>
    </tr>
</table>

<hr>

<h3>RANDOM</h3>
<pre><kbd>SQLSERVER</kbd>
DECLARE @MIN INT=001; 
DECLARE @MAX INT=100; 
SELECT @MIN+FLOOR((@MAX-@MIN+1)*RAND(CONVERT(VARBINARY,NEWID())));</pre>
<a href="https://stackoverflow.com/questions/7878287/generate-random-int-value-from-3-to-6">stackoverflow</a>

<hr>

<h3>SERVIDOR - Identificando</h3>
<pre><kbd>SQLSERVER</kbd>
DECLARE @servidor VARCHAR(30);
DECLARE @AMBIENTE VARCHAR(30);
SELECT @servidor = @@SERVERNAME;
IF(@servidor='mercurio')
    SET @AMBIENTE = '10.1.1.19\VENUS';
ELSE
    SET @AMBIENTE = '10.1.1.19\DESENV';

SELECT @AMBIENTE,@servidor
</pre>
Retorno:<br>
<table border="1">
    <tr><th>AMBIENTE</th><th>SERVIDOR</th></tr>
    <tr><td>10.1.1.19\DESENV</td><td>SATURNO</td></tr>
</table>
<a href="https://stackoverflow.com/questions/16088151/how-to-find-server-name-of-sql-server-management-studio">Fonte[1]</a>
<a href="https://docs.microsoft.com/pt-br/sql/t-sql/functions/servername-transact-sql?view=sql-server-2017">Fonte[2]</a>
<br clear="all">

<hr>

<h3>ERRO CONVERSÃO </h3>
<code>ERRO - to data type int</code><br>
Case: esse erro aconteceu quando tentava executar numa query o tipo INT , usar as aspas(''') para escapar nao funcionava.
<pre><kbd>SQLSERVER</kbd>
DECLARE @selectsql NVARCHAR(4000), @cnt INT;
SELECT @selectsql = N'SELECT @cnt = COUNT(*) FROM Vwbckup'
PRINT @selectsql
PRINT @cnt
EXEC sp_executesql @selectsql,  N'@cnt int output',  @cnt OUTPUT ;
SELECT @cnt </pre>
<a href="https://stackoverflow.com/questions/13607076/conversion-failed-when-converting-the-varchar-value-select-to-data-type-int?rq=1">Fonte[1]</a> 
<a href="http://csharp-video-tutorials.blogspot.com/2017/05/dynamic-sql-output-parameter.html">Fonte[2]</a> 
<a href="https://www.youtube.com/watch?v=na07ZODz-Gk">youtube</a>

<hr>

<h3>Listar todas as TABELAS da DATABASE</h3>
<pre><kbd>SQLSERVER</kbd>
SELECT * FROM INFORMATION_SCHEMA.TABLES ;    
</pre>
<a href="https://chartio.com/resources/tutorials/sql-server-list-tables-how-to-show-all-tables/">Fonte</a>


<hr>

<h3>Listar todas as CHAVES ESTRANGEIRAS da DATABASE</h3>
<pre><kbd>SQLSERVER</kbd>
SELECT  obj.name AS FK_NAME,
    sch.name AS [schema_name],
    tab1.name AS [table],
    col1.name AS [column],
    tab2.name AS [referenced_table],
    col2.name AS [referenced_column]
FROM sys.foreign_key_columns fkc
INNER JOIN sys.objects obj ON obj.object_id = fkc.constraint_object_id
INNER JOIN sys.tables tab1 ON tab1.object_id = fkc.parent_object_id
INNER JOIN sys.schemas sch ON tab1.schema_id = sch.schema_id
INNER JOIN sys.columns col1 ON col1.column_id = parent_column_id AND col1.object_id = tab1.object_id
INNER JOIN sys.tables tab2 ON tab2.object_id = fkc.referenced_object_id
INNER JOIN sys.columns col2 ON col2.column_id = referenced_column_id AND col2.object_id = tab2.object_id</pre>
<a href="https://stackoverflow.com/questions/483193/how-can-i-list-all-foreign-keys-referencing-a-given-table-in-sql-server">stackoverflow</a>


