<<<<<<< HEAD

Definimos um Banco de Dados como sendo uma coleção de dados relacionados e armazenados em algum meio.
<br><br>
Dados são fatos conhecidos que podem se registrados de alguma forma, e que possuem algum significado (implícito). Por exemplo, os nomes de seus amigos, ou as notas das matérias que você estuda na faculdade são dados, que podem estar registrados em uma agenda, em um histórico impresso, ou ainda em uma planilha eletrônica.
<br><br>
Um banco de dados possui mais algumas características implícitas, como:
<ul>
    <li>Representa algum aspecto do mundo real;</li>
    <li>A coleção de dados é logicamente coerente (muito importante!);</li>
    <li>É projetado, construído e recebe dados com vistas a uma finalidade específica.</li>
</ul>

Um banco de dados pode ter qualquer tamanho, desde uma simples tabela com alguns dados armazenados até uma coleção com dezenas de bilhões de informações relacionadas. É importante que seja possível organizar e gerenciar todas essas informações, a fim de que os usuários possam usufruir delas, efetuando consultas (pesquisas), atualizando ou mesmo excluindo dados, quando preciso.
<br><br>
Os bancos de dados podem ser manuais ou computadorizados. Por exemplo, os antigos catálogos de biblioteca em cartões, ou ainda o cardápio de um restaurante em forma de brochura são bancos de dados criados e mantidos de forma manual. Já um banco de dados computadorizado é criado e mantido com o uso de aplicações específicas escritas para o gerenciamento de dados.

<h3>Dado e Informação</h3>
É importante termos em mente que Dado e Informação são dois conceitos distintos, apesar de intimamente relacionados. Podemos defini-los da seguinte forma:

<ul>
    <li>Dados: São fatos em uma forma primária, que podem ser armazenados em algum meio qualquer.<br/>
    Ex.: CPF, Nome, Data, Altura</li>
    <li>Informação: São os fatos organizados de maneira a produzir um significado -> Dados colocados em contexto.<br>
    Ex.: Lista de clientes com seus números de CPF, ordenados.
    A Informação pode ser usada para auxiliar na tomada de decisão, gerando Conhecimento.</li>
</ul>

<h3>SGBD - Sistema de Gerenciamento de Bancos de Dados</h3>
Um SGBD é uma coleção de softwares que permite aos usuários criarem e manterem um ou mais bancos de dados. São usados nas tarefas de definição, construção, manipulação e compartilhamento dos bancos de dados entre aplicações e usuários. Além disso, permitem proteger o banco de dados contra acesso e alteração não autorizados e mantê-lo ao longo do tempo.
<br><br>
A figura a seguir ilustra a relação entre usuários, bancos de dados, SGBDs e as aplicações que acessam os dados:
<br><br>
<div style="margin:0 auto;text-align:center" class="col-lg-9">
	<img id="imagem" src="../helper/images/banco_01.png" border:1px solid black" />
</div>

<a href="http://www.bosontreinamentos.com.br/bancos-de-dados/o-que-sao-bancos-de-dados/">Fonte</a>
=======

Definimos um Banco de Dados como sendo uma coleção de dados relacionados e armazenados em algum meio.
<br><br>
Dados são fatos conhecidos que podem se registrados de alguma forma, e que possuem algum significado (implícito). Por exemplo, os nomes de seus amigos, ou as notas das matérias que você estuda na faculdade são dados, que podem estar registrados em uma agenda, em um histórico impresso, ou ainda em uma planilha eletrônica.
<br><br>
Um banco de dados possui mais algumas características implícitas, como:
<ul>
    <li>Representa algum aspecto do mundo real;</li>
    <li>A coleção de dados é logicamente coerente (muito importante!);</li>
    <li>É projetado, construído e recebe dados com vistas a uma finalidade específica.</li>
</ul>

Um banco de dados pode ter qualquer tamanho, desde uma simples tabela com alguns dados armazenados até uma coleção com dezenas de bilhões de informações relacionadas. É importante que seja possível organizar e gerenciar todas essas informações, a fim de que os usuários possam usufruir delas, efetuando consultas (pesquisas), atualizando ou mesmo excluindo dados, quando preciso.
<br><br>
Os bancos de dados podem ser manuais ou computadorizados. Por exemplo, os antigos catálogos de biblioteca em cartões, ou ainda o cardápio de um restaurante em forma de brochura são bancos de dados criados e mantidos de forma manual. Já um banco de dados computadorizado é criado e mantido com o uso de aplicações específicas escritas para o gerenciamento de dados.

<h3>Dado e Informação</h3>
É importante termos em mente que Dado e Informação são dois conceitos distintos, apesar de intimamente relacionados. Podemos defini-los da seguinte forma:

<ul>
    <li>Dados: São fatos em uma forma primária, que podem ser armazenados em algum meio qualquer.<br/>
    Ex.: CPF, Nome, Data, Altura</li>
    <li>Informação: São os fatos organizados de maneira a produzir um significado -> Dados colocados em contexto.<br>
    Ex.: Lista de clientes com seus números de CPF, ordenados.
    A Informação pode ser usada para auxiliar na tomada de decisão, gerando Conhecimento.</li>
</ul>

<h3>SGBD - Sistema de Gerenciamento de Bancos de Dados</h3>
Um SGBD é uma coleção de softwares que permite aos usuários criarem e manterem um ou mais bancos de dados. São usados nas tarefas de definição, construção, manipulação e compartilhamento dos bancos de dados entre aplicações e usuários. Além disso, permitem proteger o banco de dados contra acesso e alteração não autorizados e mantê-lo ao longo do tempo.
<br><br>
A figura a seguir ilustra a relação entre usuários, bancos de dados, SGBDs e as aplicações que acessam os dados:
<br><br>
<div style="margin:0 auto;text-align:center" class="col-lg-9">
	<img id="imagem" src="../helper/images/banco_01.png" border:1px solid black" />
</div>
<br clear="all">
<h3>Tipos de Comandos</h3>
A linguagem SQL é uma só, porém ela é dividida em tipos de acordo com a funcionalidade dos comandos. Os tipos da linguagem SQL são:
<table border=1>
	<tr>
		<th>DDL</th>
		<td>
			Data Definition Language - Linguagem de Definição de Dados. São os comandos que interagem com os objetos do banco.<br/>
			São comandos DDL : CREATE, ALTER e DROP
		</td>
	</tr>
	<tr>
		<th>DML</th>
		<td>
			Data Manipulation Language - Linguagem de Manipulação de Dados.São os comandos que interagem com os dados dentro das tabelas.<br>
			São comandos DML : INSERT, DELETE e UPDATE
		</td>
	</tr>
	<tr>
		<th>DQL</th>
		<td>
			Data Query Language - Linguagem de Consulta de dados. São os comandos de consulta.<br/>
			São comandos DQL : SELECT (é o comando de consulta)
		</td>
	</tr>	
	<tr>
		<th>DTL</th>
		<td>
			Data Transaction Language - LInguage de Transação de Dados. São os comandos para controle de transação.<br>
			São comandos DTL : BEGIN TRANSACTION, COMMIT E ROLLBACK
		</td>
	</tr>	
	<tr>
		<th>DCL</th>
		<td>
			Data Control Language - Linguagem de Controle de Dados. São os comandos para controlar a parte de 	segurança do banco de dados.<br>
			São comandos DCL : GRANT, REVOKE E DENY.
		</td>
	</tr>
</table>

<a href="http://www.bosontreinamentos.com.br/bancos-de-dados/o-que-sao-bancos-de-dados/">Fonte</a> <br>
<a href="https://pt.stackoverflow.com/questions/262867/o-que-s%C3%A3o-as-siglas-ddl-dml-dql-dtl-e-dcl">stackoverflow</a>
>>>>>>> refs/remotes/origin/master
