

<h3>Conectando</h3>
<pre>$ mysql</pre>
<code>ERROR 1045 (28000): Access denied for user 'beto'@'localhost' (using password: NO)</code><br/>
Então, como acessamos o servidor via console?
<pre>$ mysql -h localhost -u root -p</pre>
Vamos entender o comando acima.
<pre>
mysql      -- evocamos o servidor
-h         -- dizemos que o próximo dado é referente ao host
localhost  -- informamos o o host
-u         -- dizemos que o próximo dado é referente ao usuário
root       -- informamos o usuário
-p         -- dizemos que o próximo dado é referente a senha
</pre>
Não vamos digitar a senha porque pode ter alguém bisbilhotando (rsrs). Então acionamos o Enter e adivinhe? O console solicita a senha do usuário informado. Agora sim pode digitar, pois a senha não é mostrada.

<h3>Listar as bases </h3>
<pre>$ show databases;</pre>

<h3>Selecionar a base</h3>
<pre>$ use DATABASE_NAME;</pre>

<h3>Exibir a base selecionada</h3>
<pre>$ select database();</pre>

<h3>Exibir o usuário selecionado</h3>
<pre>$ select CURRENT_USER();</pre>


<h3>QUERYs</h3>
<pre></pre>

<h3>Saindo do Console</h3>
<pre>$ exit</pre>
<br clear="all"><br clear="all">
<a href="http://www.devfuria.com.br/sql/mysql-pelo-terminal/">Fonte[1]</a>