﻿

<h3>CRIANDO USUARIO REMOTO</h3>
<pre><code><kbd>MYSQL</kbd>
CREATE USER 'remoto'@'%' IDENTIFIED BY '***';

GRANT ALL PRIVILEGES ON * . * TO 'remoto'@'%' IDENTIFIED BY '***' 
WITH GRANT OPTION MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0 ;
</code></pre>

Fontes: <br>
<a href="https://www.digitalocean.com/community/tutorials/como-criar-um-novo-usuario-e-conceder-permissoes-no-mysql-pt">digitalocean</a><br>
<a href="http://www.devmedia.com.br/gerenciamento-de-usuarios-e-controle-de-acessos-do-mysql/1898">devmedia</a><br>
<a href="https://stackoverflow.com/questions/16287559/mysql-adding-user-for-remote-access">stackoverflow</a>

<hr>

<h3>Derrubando Usuarios</h3>
Caso haja a necessidade de <code>DERRUBAR USUARIOS</code> por qualquer circustancia há uma funcionalidade<br>
você pode ter que derrubar os usuarios para fazer um export ou import de determinada database por exemplo.
<pre class="codificacao codigoSQLSERVER"><kbd>SQLSERVER</kbd>
<span style="color:blue">USE</span> [master]

<span style="color:blue">ALTER DATABASE</span> [SISCLAS_DEV]
<span style="color:blue">SET SINGLE_USER</span> <span style="color:green">--SETA como usuário unico para fechar conexões antes de restaurar backup</span>

    <b>CODIGO ANSISQL</b>

<span style="color:blue">SET MULTI_USER;</span> <span style="color:green">--volta para multi user depois de restaurar</span>
<span style="color:blue">GO</span></pre>    

<a href="https://docs.microsoft.com/pt-br/sql/relational-databases/databases/set-a-database-to-single-user-mode?view=sql-server-2017">docs.microsoft</a>