<h2>Codigo</h2>
O make possibilita a criação de código fonte, tornando assim o desenvolvimento altamente produtivo.Alguns exemplos:<br>
cria uma nova classe controller
<pre class="terminal">$ php artisan make:controller</pre>
cria uma nova classe model;
<pre class="terminal">$ php artisan make:model</pre>
cria um novo arquivo de migração;
<pre class="terminal">$ php artisan make:migration</pre>

<h2>Banco</h2>
O comando abaixo, executa as operações no banco de dados, criando tabelas, rodando script sql entre outros.
<pre class="terminal">$ php artisan migrate</pre>

<h2>Rotas</h2>
O route possibilita a criação de rotas, tornando a aplicação mais segura.Alguns exemplos:<br>
cria um arquivo de rota cache de registro rápido;
<pre class="terminal">$ php artisan route:cache</pre>
remove o arquivo de rota do cache
<pre class="terminal">$ php artisan route:clear</pre>
 apresenta todas as rotas registradas na aplicação
<pre class="terminal">$ php artisan route:list</pre>


<h2>Aplicacao</h2>
Caso sua aplicação esteja em produção e você precise realizar alguma manutenção que a aplicação necessite ficar alguns minutos fora
<h3>Derrubar</h3>
O comando abaixo, fará com que sua aplicação apresenta a tela manutenção padrão do Laravel e não fique off-line.
<pre class="terminal">$ php artisan down</pre>

<h3>Levantar</h3>
Assim que a equipe de desenvolvimento concluir a manutenção basta apenas digitar o seguinte comando no prompt de comando: 
<pre class="terminal">$ php artisan up</pre>

<h2>Variaveis de Ambiente</h2>
Apresenta o ambiente de desenvolvimento que está sendo utilizado.
<pre class="terminal">$ php artisan env</pre>

<h2></h2>
<pre class="terminal"></pre>

<h2></h2>
<pre class="terminal"></pre>

<h2></h2>
<pre class="terminal"></pre>

<a href="http://devsoftbr.blogspot.com/2017/05/artisan-comandos-poderosos-no-laravel.html">Fonte[1]</a> 