


<h3>Failed opening required autoload.php</h3>
<pre>
  PHP Warning:  require(/home/user/project-name/vendor/autoload.php):
  failed to open stream: No such file or directory in /home/user/project-name/artisan on line 18
  PHP Fatal error:  require(): Failed opening required '/home/user/project-name/vendor/autoload.php'
  (include_path='.:/usr/share/php') in /home/guilhermedambros/project-name/artisan on line 18
</pre>
<BR/>Solução:<br>
<pre><code>$ composer install</code></pre>
<a href="https://stackoverflow.com/questions/28468625/laravel-5-failed-opening-required-bootstrap-vendor-autoload-php/36395204">stackoverflow</a>

<hr>

<h3>Application key</h3>
<code>RuntimeException<br>No application encryption key has been specified.</code>
<BR/>Solução:<br>
<pre><code>$ php artisan key:generate</code></pre>
<a href="https://stackoverflow.com/questions/44839648/no-application-encryption-key-has-been-specified-new-laravel-app">stackoverflow</a>

<hr>

<h3>Erro em comunicação IONIC 3 com LARAVEL 5.7</h3>
<code>
	Access to XMLHttpRequest at 'http://localhost:8000/' from origin 'http://localhost:8100/'<br>
	has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on <br>
	the requested resource.
</code>
<BR/>Solução:<br>
<pre><code>$ composer require barryvdh/laravel-cors</code></pre>
Depois de executar o comando acima, adicionar o HandleCors middleware ao grupo desejado no arquivo <code>app/Http/Kernel.php</code>
<pre><code>protected $middlewareGroups = [
    'web' => [
        // ...
        \Barryvdh\Cors\HandleCors::class,
    ],
];</code></pre>
<a href="https://github.com/barryvdh/laravel-cors">Github</a>