<h2>Criar projeto</h2>
Criando um projeto com o nome de <code><b>extranet</b></code> com a ultima versao do laravel!
<pre class="terminal">$ composer create-project --prefer-dist laravel/laravel <code><b>extranet</b></code></pre>

<h2>Server</h2>
<pre class="terminal">$ php artisan serve</pre>


https://medium.com/@avinicius.adorno/modularizando-o-laravel-5-a7ba1b19bd6e