
<h3>ID</h3>
<pre>$( "#resultado" )</pre>

<h3>CLASSE</h3>
<pre><code>$( ".soNumero" )</code></pre>

<h3>NOME/NAME</h3>
<pre><code>$("input[name='nome']")</code></pre>

<h3>COMPOSTO - NOME & ATRIBUTO</h3>
<pre><code>$("input[name='nome'][rel='cd_familia']")</code></pre>

<h3>CHECKBOX</h3>
<pre>// MARCAR #x
$( "#x" ).prop( "checked", true );
$( "#x" ).attr('checked', 'checked');

// DESMARCAR #x
$( "#x" ).prop( "checked", false );
</pre>

<hr>

VALIDAR inputs checkados 
<pre><code>$("input[name='documentos[]']:checked")</code></pre>
<pre><code>$("input[name='documentos[]']").is(':checked')</code></pre>
Retorna boolean true/false 

<hr>

<h3>SELECTCOMBO</h3>
<h4>Pegar a descrição/texto do option selecionado</h4>
<pre><code>$("#opcao option:selected").text().toString().toUpperCase();</code></pre>
<h4>Pegar a descrição/texto do option selecionado utilizando o <span style="color:red">$(this)</span></h4>
<pre><span style="color:red">$(this)</span>.find('option:selected').text();</pre>

<hr>

<h3>RADIO</h3>
<h4>Pegar o valor do radio com o mesmo ID e NAME</h4>
<label><input type="radio" id="genero" name="genero" value="masc">Masculino</label>
<label><input type="radio" id="genero" name="genero" value="fem">Feminino</label>
<code>SOLUÇÃO :</code> <span style="font-weight: bold;" id="valorRadioComThis"></span>

<br>
Codigo
<pre>$("input[name='genero']").click(function() {
    let valor = $(this)[0].value 
});</pre>
<br>
<hr>

<h3>Usar seletor após o document ready estar pronto é preciso usar o evento ON</h3>
Exemplo abaixo.<br/>
<pre><code>$(document).<strong style="color:red">on</strong>('click', '.botaoDeletar', function(){
	alert( $(this).attr('rel') )
});</code></pre>
No caso do exemplo acima foi utilizado o evento <strong>click</strong> e a classe <strong>.botaoDeletar</strong> de #seletor
<br/>
<a href="https://stackoverflow.com/questions/10011802/how-to-get-this-selected-option-in-jquery">stackoverflow</a>

<br clear="all"><br clear="all">

<script>
	$(document).ready(function() {
        $("input[name='genero']").click(function() {
            $("#valorRadioComThis").html( $(this)[0].value );
        });	
	});

</script>