<h2><i class="fa fa-gears fa-fw"></i> INSTALAÇÃO</h2>

<h3>1 - baixar o node js</h3>
O npm (Node Package Manager) é um repositório on-line para publicação de projetos de código aberto e também um utilitário de linha de comando que interage com este repositório on-line, para auxiliar na instalação de pacotes, gerenciamento de versão e gerenciamento de dependências.
<pre>$ sudo apt-get install nodejs</pre>

Devido a um conflito com outro pacote, o executável dos repositórios do Ubuntu é chamado nodejs em vez de node. Tenha isso em mente quando estiver executando software.

Se o pacote no repositório satisfaz suas necessidades, isto é tudo que você precisa fazer para ter o Node.js configurado. Em muitos casos, você vai querer também instalar o npm, que é o gerenciador de pacotes do Node.js. Você pode fazer isto digitando:
<pre>$ sudo apt-get install npm</pre>


<h4>1.1 apos instalacao verificar versao</h4>
<pre><code>$ nodejs –v</code></pre>
Este comando confirmará a versão instalada do Node.js.

<h3>2 - instalando o Ant Apache</h3>
<pre>$ sudo apt-get install ant</pre>

Fontes<br>
<a href="http://blog.kolaborativa.com/2014/06/instalacao-do-phonegap-cordova-para-ubuntu-14-04/">blog kolaborativa</a><br>
<a href="https://www.digitalocean.com/community/tutorials/como-instalar-o-node-js-no-ubuntu-16-04-pt">digitalocean.</a>
