<pre class=""><kbd>src\app\app.module.ts</kbd>
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { RouteReuseStrategy } from '@angular/router';

import { IonicModule, IonicRouteStrategy } from '@ionic/angular';
import { SplashScreen } from '@ionic-native/splash-screen/ngx';
import { StatusBar } from '@ionic-native/status-bar/ngx';

import { AppComponent } from './app.component';
import { AppRoutingModule } from './app-routing.module';
import { PopoverPageModule } from './pages/popover/popover.module';

@NgModule({
  declarations: [AppComponent],
  entryComponents: [],
  imports: [BrowserModule, IonicModule.forRoot(), AppRoutingModule,PopoverPageModule],
  providers: [
    StatusBar,
    SplashScreen,
    { provide: RouteReuseStrategy, useClass: IonicRouteStrategy }
  ],
  bootstrap: [AppComponent]
})
export class AppModule {}	
</pre>

<pre class=""><kbd>src\app\home\home.page.html</kbd>
<ion-header>
	<ion-toolbar>
		<ion-title>VARIAVEIS - Home</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
  
	<ion-item>
  		<h1>VALOR: </h1><ion-input [(ngModel)]="value" clearInput></ion-input>
    </ion-item>
    <h1>MODAL: </h1>
    <ion-item>municipio: {{ modal_id_municipio }}</ion-item>
    <ion-item>categoria: {{ modal_id_categoria }}</ion-item>    
    <h1>POPOVER: </h1>
    <ion-item>municipio: {{ popover_id_municipio }}</ion-item>
    <ion-item>categoria: {{ popover_id_categoria }}</ion-item>
  
  <ion-button expand="full" [routerLink]="['/second',value]">Envio Por Rota</ion-button>
  <ion-button expand="full" (click)="pushPage()">Push</ion-button>
  <ion-button expand="full" (click)="openModal()">Open Modal</ion-button>
  <ion-button expand="full" (click)="openPopover($event)">Open Popover</ion-button>
</ion-content></pre>

<pre class=""><kbd>src\app\home\home.page.ts</kbd>
import { Component } from '@angular/core';
import { NavController, ModalController, PopoverController,Events } from '@ionic/angular';
import { ModalPage } from '../pages/modal/modal.page';
import { PopoverPage } from '../pages/popover/popover.page';
import { modalController } from '@ionic/core';

@Component({
  selector: 'app-home',
  templateUrl: 'home.page.html',
  styleUrls: ['home.page.scss'],
})
export class HomePage {
  value = 0;

  modal_id_municipio:number;
  modal_id_categoria:number;
  popover_id_municipio:number;
  popover_id_categoria:number;

  constructor(
    public nav: NavController,
    public modalController:ModalController,
    public popoverController:PopoverController,
    public events: Events
  ) { }

  ionViewDidLoad(){
    this.events.subscribe('teste recebimento',(data) => {
      console.log(data)
    });
  }

  async openPopover(ev: Event){
    const popover = await this.popoverController.create({
      component:PopoverPage,
      componentProps: {
        ev: Event,
        translucent: true
      },        
    });

    popover.onDidDismiss().then((retorno) => {
      this.popover_id_municipio = retorno.data.id_municipio;
      this.popover_id_categoria = retorno.data.popover_id_categoria;
    });

    return await popover.present();
  }
  montarTela(){}  
}</pre>


<pre class="codigo"><kbd>src\app\pages\feira\banca\popover\popover.page.html</kbd>
<div padding>
  <ion-list>
    <h1>FILTROS</h1>
    <section>
      <ion-item>
        <ion-label>Municípios</ion-label>
        <ion-select ok-text="OK" cancel-text="Cancelar" [(ngModel)]="id_municipio">
          <ion-select-option *ngFor="let municipio of arrayMunicipios" value="{{ municipio.id_municipio }}">{{ municipio.ds_municipio }} </ion-select-option>        
        </ion-select>
      </ion-item>
    </section>    
    <br><br>

    <section>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select ok-text="OK" cancel-text="Cancelar" [(ngModel)]="id_municipio">
          <ion-select-option *ngFor="let categoria of arrayCategorias" value="{{ categoria.id_truncado }}">{{ categoria.ds_titulo }} </ion-select-option>
        </ion-select>
      </ion-item>
    </section>      
    <br><br>

    <h1>ORDENAÇÃO</h1>
    <section>
      <ion-radio-group [(ngModel)]="ds_ordenacao">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-radio slot="start" color="primary" value="ds_banca"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Numero</ion-label>
          <ion-radio slot="start" color="primary" value="no_banca"></ion-radio>
        </ion-item>
      </ion-radio-group>      
    </section>
    <br><br>
    <ion-item button color="danger" (click)="closePopover()">
      <ion-icon name="close" slot="start"></ion-icon>Aplicar
    </ion-item>
  </ion-list>
</div>	
</pre>