
<h2>vertical-align</h2>

<pre>/* keyword values */
vertical-align: baseline;
vertical-align: sub;
vertical-align: super;
vertical-align: text-top;
vertical-align: text-bottom;
vertical-align: middle;
vertical-align: top;
vertical-align: bottom;

/* &lt;length&gt; values */
vertical-align: 10em;
vertical-align: 4px;

/* &lt;percentage&gt; values */
vertical-align: 20%;

/* Global values */
vertical-align: inherit;
vertical-align: initial;
vertical-align: unset;
</pre>	

<a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS/vertical-align">developer.mozilla</a>