
<h3>Virar icone</h3>
<style type="text/css">
.rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.tableNumeracaoAutomatica tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

.tableNumeracaoAutomatica tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
</style>
<pre><code>    
.rotate-45 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
</code></pre>

exemplo<br>
<i class="fa fa-cubes fa-fw"></i><br>
<i class="fa fa-cubes fa-fw rotate-45"></i><br>
-<i class="fa fa-cubes fa-fw rotate-90"></i><br>

<br clear="all">

<a href="https://stackoverflow.com/questions/25786905/css3-rotation-when-hover-a-font-awesome-icon">stackoverflow</a>
<a href="https://code.tutsplus.com/pt/tutorials/the-30-css-selectors-you-must-memorize--net-16048">tutsplus</a>

<h3>Girar / Rodar</h3>
<code>fa-spin</code>
<br clear="all">
<i class="fa fa-gear fa-spin fa-5x"></i>
<br clear="all">
<a href="https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-gear">w3schools</a>
<br clear="all">
<hr>
<h2>TABELA - Numero em linhas</h2>
<pre>
<kbd>CSS</kbd>
.tableNumeracaoAutomatica tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

.tableNumeracaoAutomatica tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}</pre>

<div class="col-lg-3">
	<div class="panel panel-default">
		<div class="table-responsive">
			<table class="tableNumeracaoAutomatica">
				<thead>
					<tr>
						<th>#</th>
						<th>NOME</th>
						<th>SOBRENOME</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td>Ronaldo</td>						
						<td>Oliveira</td>
					</tr>
					<tr>
						<td></td>
						<td>Douglas</td>						
						<td>Silva</td>
					</tr>
					<tr>
						<td></td>
						<td>Bernardo</td>						
						<td>Ferreira</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</div>	
<br clear="all">
Fonte: <a href="https://stackoverflow.com/questions/25248005/css-auto-numbers-for-table-rows-not-first">stackoverflow</a>
, <a href="https://stackoverflow.com/questions/17012421/auto-number-table-rows">Fonte[2]</a>

<hr>

<h3>Bloquear Elemento</h3>
Aqui vai uma opção interessante, sempre que você desabilita o componente, o mesmo não é submitido no POST, abaixo uma maneira de bloquear no form entretando submeter a informação contida no mesmo!

<pre><kbd>CSS</kbd>
.desabilitado {background:#A0A0A0}
</pre>

<pre><kbd>JS</kbd>
$(".desabilitar").bind("keyup keydown click change", function(){  return false; });
$(".desabilitar").attr("disabled","disabled");	
</pre>

<pre><kbd>HTML</kbd>
&lt;input type="text" name="nm_titular" value="Roberto" class="form desabilitar" /&gt;
</pre>

<hr>
<h3>Contadores</h3>

https://webdesign.tutsplus.com/pt/tutorials/quick-tip-using-css-counters-to-style-incremental-elements--cms-23497
<br>
https://www.treinaweb.com.br/blog/criando-contadores-apenas-com-css/