<h3>FOR</h3>
<pre>var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
var text = "";
var i;
for (i = 0; i < cars.length; i++) {
    text += cars[i];d
}</pre>

<hr>
Testando o loop com o <b>for</b> de duas maneiras, objeto abaixo 
<pre>var person = {'nome':"Luisa", 'sobre':'Alam', 'idade':15};</pre>

<h3>For/In</h3>
<pre>var text = "";
var x;
for (x in person) {
    text += person[x];
}</pre>

<h3>For/of</h3>

<pre>const keys = Object.keys(fruits)
for (const key of keys) {
  console.log(key)
}</pre>
<a href="https://zellwk.com/blog/looping-through-js-objects/">Fonte</a>

<hr>

<h3>Do/While</h3>
<pre class="codigo">var cars = ["BMW", "Volvo", "Saab", "Ford"];
var i = 0;
var text = "";

while (cars[i]) {
    text += cars[i];
    i++;
}</pre>