<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><i class="fa fa-support"></i> AJUDA</a>
    </div>
    <div role="navigation" class="navbar-default sidebar">
        <div class="sidebar-nav navbar-collapse">
            <ul id="side-menu" class="nav in">
                <li>
                    <a href="#angular">
                        <i class="cbp-ig-icon devicon-angularjs-plain"></i>
                        <span class="margin-title-field">Angular</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#angular/instalacao"><i class="fa fa-gear fa-fw"></i>Instalação</a></li>                                    
                        <li><a href="#angular/diretivas"><i class="fa fa-edit fa-fw"></i>Diretivas</a></li>
                        <li><a href="#angular/filtros"><i class="fa fa-filter fa-fw"></i>Filtros</a></li>
                        <li><a href="#angular/eventos"><i class="fa fa-filter fa-fw"></i>Eventos</a></li>
                        <li><a href="#angular/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                    </ul>
                </li>                            
                <li>
                    <a href="#banco">
                        <i class="fa fa-cubes fa-fw"></i>
                        <span class="margin-title-field">Banco de Dados</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#banco/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li>
                            <a href="#banco-chaves"><i class="fa fa-key fa-fw"></i> Chaves <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#banco/chave_primaria"><i class="fa fa-key fa-fw"></i> Primaria</a></li>
                                <li><a href="#banco/chave_estrangeira"><i class="fa fa-key fa-fw"></i> Estrangeira</a></li>
                                <li><a href="#banco/chave_substituta"><i class="fa fa-key fa-fw"></i> Substituta</a></li>
                                <li><a href="#banco/chave_restricao"><i class="fas fa-lock fa-fw"></i> Restricoes</a></li>
                            </ul>
                        </li>                                    
                        <li><a href="#banco/condicional"><i class="mdi-source-fork  fa-fw"></i> Condicional</a></li> 
                        <li><a href="#banco/estrutura"><i class="glyphicon glyphicon-th fa-fw"></i> DDL - Estrutura</a></li>
                        <li><a href="#banco/crud"><i class="glyphicon glyphicon-th fa-fw"></i> DML - CRUD</a></li> 
                        <li><a href="#banco/conversao"><i class="glyphicon glyphicon-sort fa-rotate-90 fa-fw"></i> Conversao</a></li>
                        <li><a href="#banco/data"><i class="fa fa-calendar fa-fw"></i> Data</a></li>                                    
                        <li><a href="#banco/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li>
                        <li><a href="#banco/exportacao"><i class="glyphicon glyphicon-cloud-download fa-fw"></i> Exportação</a></li>
                        <li><a href="#banco/importacao"><i class="glyphicon glyphicon-cloud-upload fa-fw"></i> Importação</a></li>
                        <li><a href="#banco/functions"><i class="mdi mdi-function fa-fw"></i> Functions</a></li>
                        <li><a href="#banco/loop"><i class="fa fa-repeat fa-fw"></i> Loop/Ponteiros/Cursor</a></li>
                        <li><a href="#banco/pivot"><i class="fa fa-question-circle fa-fw"></i> Pivot/Unpivot</a></li>
                        <li><a href="#banco/procedure"><i class="fa fa-question-circle fa-fw"></i> Procedures</a></li>
                        <li><a href="#banco/schema"><i class="fa fa-file fa-fw"></i> Schema</a></li>                                    
                        <li><a href="#banco/terminal"><i class="fa fa-terminal fa-fw"></i> Terminal</a></li>
                        <li><a href="#banco/transacao"><i class="fa fa-refresh fa-rotate-90 fa-fw"></i> Transação</a></li>
                        <li><a href="#banco/usuarios"><i class="fa fa-users fa-fw"></i> Usuarios</a></li>
                        <li><a href="#banco/variaveis"><i class="mdi mdi-keyboard-tab fa-fw"></i> Variaveis</a></li>
                        <li><a href="#banco/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#bootstrap">
                        <i class="cbp-ig-icon devicon-bootstrap-plain fa-fw"></i>
                        <span class="margin-title-field">Bootstrap 4</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#bootstrap/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li><a href="#bootstrap/instalacao"><i class="fa fa-gear fa-fw"></i> Instalação</a></li>
                        <li><a href="#bootstrap/configuracao"><i class="fa fa-gears fa-fw"></i> Configuração</a></li>
                        <li><a href="#bootstrap/grid"><i class="fa fa-th fa-fw"></i> Grid</a></li>
                        <li><a href="#bootstrap/hidden"><i class="fa fa-eye-slash fa-fw"></i>Hidden</a></li>
                        <li><a href="#bootstrap/metodos"><i class="fa fa-print fa-fw"></i> Métodos</a></li>
                        <li><a href="#bootstrap/modal"><i class="mdi mdi-checkbox-multiple-blank-outline fa-fw"></i> Modal</a></li>
                        <li><a href="#bootstrap/responsividade"><i class="icon-phonescreensize fa-fw"></i> Responsividade</a></li>
                        <li><a href="#bootstrap/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#css"><i class="fa fa-css3 fa-fw"></i><span class="margin-title-field">CSS</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#css/animacao"><i class="fa fa-image"></i> Animacoes</a></li>                                    
                        <li><a href="#css/ascii"><i class="fa fa-pencil-square"></i> ASCII - Icones</a></li>
                        <li><a href="#css/alinhar"><i class="fa fa-align-justify"></i> Alinhamento</a></li>           
                        <li><a href="#css/bootstrap"><i class="cbp-ig-icon devicon-bootstrap-plain"></i> Bootsrap</a></li>
                        <li><a href="#css/contador"><i class="fa fa-sort-numeric-asc fa-fw"></i> Contador</a></li>
                        <li><a href="#css/cores"><i class="fa fa-tint fa-fw"></i> Cores</a></li>
                        <li><a href="#css/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li>
                        <li><a href="#css/fonts"><i class="mdi mdi-function fa-fw"></i> Font Families</a></li>
                        <li><a href="#css/galeria"><i class="fa fa-picture-o fa-fw"></i> Galeria</a></li>
                        <li><a href="#css/impressao"><i class="fa fa-print fa-fw"></i> Impressão</a></li>
                        <li><a href="#css/listas"><i class="fa fa-list"></i> Listas</a></li> 
                        <li><a href="#css/maparea"><i class="mdi mdi-map-marker-radius"></i> Map Area</a></li> 
                        <li><a href="#css/sass"><i class="exibirIcone cbp-ig-icon devicon-sass-original"></i> SASS</a></li>
                        <li><a href="#css/seletores"><i class="glyphicon glyphicon-filter fa-fw"></i> Seletores</a></li>
                        <li><a href="#css/tabela"><i class="fa fa-table fa-fw"></i> Tabelas</a></li> 
                        <li><a href="#css/zindex"><i class="fa fa-table fa-fw"></i> Z-Index</a></li>                                     
                    </ul>
                </li>
                <li>
                    <a href="#cypress">
                        <i class="fa fa-css3 fa-fw"></i>
                        <span class="margin-title-field">CyPress</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#cypress/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li><a href="#cypress/instalacao"><i class="fa fa-gear fa-fw"></i> Instalação</a></li>
                        <li><a href="#cypress/configuracao"><i class="fa fa-gears fa-fw"></i> Configuração</a></li>
                        <li><a href="#cypress/inicio"><i class="fa fa-flag-o fa-fw"></i> Inicio</a></li>
                        <li><a href="#cypress/metodos"><i class="fa fa-print fa-fw"></i> Métodos</a></li>
                        <li><a href="#cypress/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                        <li><a href="#cypress/exemplo_01"><i class="fa fa-edit fa-fw"></i> Exemplo 01</a></li>
                        <li><a href="#cypress/exemplo_02"><i class="fa fa-edit fa-fw"></i> Exemplo 02</a></li>
                    </ul>
                </li>                             
                                            
                <li>
                    <a href="#docker">
                        <i class="cbp-ig-icon devicon-docker-plain fa-2x" style="float:left;margin:-3px 5px 0 0; font-size: 1.8em"></i>
                        <span class="margin-title-field">Docker</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#docker/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li><a href="#docker/instalacao"><i class="fa fa-gear fa-fw"></i> Instalação</a></li>               
                        <li><a href="#docker/basico"><i class="fa fa-book fa-fw"></i> Basico</a></li>           
                        <li><a href="#docker/comandos"><i class="fa fa-terminal"></i> Comandos</a></li>
                        <li><a href="#docker/configuracao"><i class="fa fa-gears fa-fw"></i> Configuração</a></li>
                        <li><a href="#docker/dockerfile"><i class="fa fa-file-o fa-fw"></i> Dockerfile</a></li>
                        <li><a href="#docker/rede"><i class="icon-network fa-fw"></i> Redes</a></li>        
                        <li><a href="#docker/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>             
                        <li>
                            <a href="#docker-exemplos"><i class="fa fa-code fa-fw"></i> Exemplos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#docker/casos/caso_1">Exemplo 01</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#editores">
                        <i class="fa fa-align-justify"></i>
                        <span class="margin-title-field">Editores</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#editores/sublime"><i class="fa fa-edit fa-fw"></i>Sublime</a></li>
                        <li><a href="#editores/vim"><i class="fa fa-edit fa-fw"></i>Vim</a></li>                                    
                    </ul>
                </li>

                 
                <li>
                    <a href="#firebase">
                        <i class="mdi mdi-fire adjust-dashboard-icon adjust-dashboard-firebase-icon"></i> 
                        <span class="margin-title-field">Firebase</span> <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#firebase/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li><a href="#firebase/instalacao"><i class="fa fa-gear fa-fw"></i> Instalação</a></li>
                        <li><a href="#firebase/configuracao"><i class="fa fa-gears fa-fw"></i> Configuração</a></li>
                        <li><a href="#firebase/comandos"><i class="fa fa-terminal"></i> Comandos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#framework">
                        <i class="cbp-ig-icon devicon-devicon-plain"></i>
                        <span class="margin-title-field">FrameWork</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#framework/alertas"><i class="mdi mdi-alert fa-fw"></i> Alertas</a></li>
                        <li><a href="#framework/botao"><i class="fa fa-hand-o-down"></i> Botões</a></li>
                        <li><a href="#framework/botao_toggle"><i class="fa fa-hand-o-down"></i> Botão Toggle</a></li>
                        <li><a href="#framework/calendario"><i class="fa fa-calendar fa-fw"></i> Calendario</a></li>
                        <li><a href="#framework/checkbox"><i class="fa fa-check-square fa-fw"></i> Checkbox</a></li>
                        <li><a href="#framework/fontes"><i class="mdi mdi-function fa-fw"></i> Fontes</a></li>
                        <li><a href="#framework/form"><i class="fa fa-edit fa-fw"></i> Form</a></li>
                        <li><a href="#framework/grid"><i class="fa fa-table fa-fw"></i> GRID</a></li>
                        <li><a href="#framework/painel"><i class="fa fa-table fa-fw"></i> Painel - Fieldset</a></li>
                        <li><a href="#framework/radio"><i class="fa fa-circle-o fa-fw"></i> Radio Button</a></li>
                        <li><a href="#framework/radio2"><i class="fa fa-circle-o fa-fw"></i> Radio Button 2</a></li>
                        <li><a href="#framework/ranking"><i class="mdi mdi-arrow-left-bold fa-fw rotate-90"></i> Ranking</a></li>
                        <li><a href="#framework/modal"><i class="fa fa-share-square-o fa-fw"></i> Modal</a></li>
                        <li><a href="#framework/notificacao"><i class="fa fa-bullhorn fa-fw"></i> Notificações</a></li>
                        <li><a href="#framework/notificacao2"><i class="fa fa-bullhorn fa-fw"></i> Notificações 2</a></li>
                        <li><a href="#framework/select"><i class="fa fa-search-plus fa-fw"></i> Select</a></li>
                        <li><a href="#framework/tabela"><i class="fa fa-table fa-fw"></i> Tabela</a></li>                                    
                        <li><a href="#framework/tipografia"><i class="mdi mdi-function fa-fw"></i> Tipografia</a></li>
                        <li><a href="#framework/toggle"><i class="mdi mdi-arrow-left-bold fa-fw rotate-90"></i> Toggle</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#git"><i class="fa fa-bitbucket fa-fw fa-2x adjust-dashboard-icon"></i><span class="margin-title-field">Git</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#git/introducao"><i class="fa fa-book fa-fw"></i> INTRODUCAO</a></li>
                        <li><a href="#git/configuracao"><i class="fa fa-gear fa-fw"></i> Configuração</a></li>
                        <li><a href="#git/inicio"><i class="fa fa-flag-o fa-fw"></i> Inicio</a></li>                                    
                        <li><a href="#git/branch"><i class="fa fa-code-fork fa-fw"></i> Branch</a></li>
                        <li><a href="#git/comandos"><i class="fa fa-terminal"></i> Comandos</a></li>
                        <li><a href="#git/commit"><i class="fa fa-archive fa-fw"></i> Commit</a></li>                                    
                        <li><a href="#git/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li> 
                        <li><a href="#git/hooks"><i class="fa fa-magic fa-fw"></i> Hooks</a></li> 
                        <li><a href="#git/ignore"><i class="fa fa-times-circle fa-fw"></i> Ignore</a></li>
                        <li><a href="#git/tarefa"><i class="fa fa-warning fa-fw"></i> Issues/Tarefas</a></li>
                        <li><a href="#git/log"><i class="mdi mdi-clock-alert fa-fw"></i> Log</a>
                        <li><a href="#git/rollback"><i class="fa fa-cloud-download fa-fw"></i> Rollback</a></li>
                        <li><a href="#git/tag"><i class="fa fa-tag fa-fw"></i> Tag</a></li>                 
                        <li><a href="#git/erros"><i class="fa fa-warning fa-fw"></i> ERROS</a></li>                                     
                        <li>
                            <a href="#git-casos"><i class="fa fa-code fa-fw"></i> Casos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#git/casos/caso_1">Caso 01</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#html">
                        <i class="cbp-ig-icon devicon-html5-plain fa-fw"></i><span class="margin-title-field">HTML</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#html/arquivo"><i class="mdi mdi-checkbox-multiple-blank-outline fw"></i> Arquivo/Metadado</a></li>                                    
                        <li><a href="#html/canvas"><i class="fa fa-edit fw"></i> Canvas</a></li>
                        <li><a href="#html/componentes"><i class="glyphicon glyphicon-wrench"></i> Componentes</a></li>
                        <li><a href="#html/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li>                                     
                        <li><a href="#html/dom"><i class="fa fa-sitemap fw"></i> DOM</a></li>
                        <li><a href="#html/formulario"><i class="fa fa-edit fw"></i> Formulario</a></li>
                        <li><a href="#html/markdown"><i class="fa fa-edit fw"></i> Markdown</a></li>
                        <li><a href="#html/mapa_caracter"><i class="fa fa-keyboard-o fw"></i> Mapa de Caracter</a></li>
                        <li><a href="#html/popup"><i class="mdi mdi-checkbox-multiple-blank-outline fw"></i> Popup</a></li>
                        <li><a href="#html/window"><i class="mdi mdi-checkbox-multiple-blank-outline fw"></i> Window</a></li>
                        <li><a href="#html/erro"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#icones"><i class="fa fa-edit fa-fw"></i><span class="margin-title-field">Icones</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#icones/awesome-novo"> Font Awesome <i class="fas fa-certificate" style="color:red;"></i> <span style="color:red;font-weight: bold">NOVO</span></a></li>
                        <li><a href="#icones/awesome">Font Awesome</a></li>                                    
                        <li><a href="#icones/glyphicon">Glyphcon</a></li>
                        <li><a href="#icones/material">Material</a></li>
                        <li><a href="#icones/devicon">Devicon</a></li>
                        <li><a href="#icones/glyphs">Glyphs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#ionic"><i class="fa fa-tablet fa-fw fa-2x adjust-dashboard-icon"></i><span class="margin-title-field">Ionic</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#ionic/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                        <li><a href="#ionic/instalacao"><i class="fa fa-gears fa-fw"></i> Instalação</a></li>
                        <li><a href="#ionic/inicio"><i class="fa fa-flag-o fa-fw"></i> Inicio</a></li>
                        <li><a href="#ionic/carregando"><i class="icon-loadingalt fa-fw"></i> Carregando | Loading</a></li>
                        <li><a href="#ionic/ciclo_de_vida"><i class="fa fa-refresh fa-fw"></i> Ciclo de Vida</a></li>
                        <li><a href="#ionic/comandos"><i class="fa fa-terminal fa-fw"></i> Comandos</a></li>
                        <li><a href="#ionic/configuracao"><i class="icon-controlpanelalt fa-fw"></i> Configuração</a></li>
                        <li><a href="#ionic/estrutura"><i class="fa fa-sitemap fa-fw"></i> Estrutura</a></li>
                        <li><a href="#ionic/geolocalizacao"><i class="fa fa-map-marker fa-fw"></i> GeoLocalização</a></li>
                        <li><a href="#ionic/modal"><i class="mdi mdi-content-duplicate fa-fw"></i> Modal</a></li>
                        <li><a href="#ionic/parametros"><i class="fa fa-refresh fa-fw"></i> Parametros</a></li>
                        <li><a href="#ionic/popover"><i class="mdi mdi-content-duplicate fa-fw"></i> Popover</a></li>
                        <li><a href="#ionic/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                        <li>
                            <a href="#ionic-casos"><i class="fa fa-code fa-fw"></i> Casos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#ionic/casos/caso_1">Caso 01</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>  
                <li>
                    <a href="#javascript">
                        <i class="cbp-ig-icon devicon-javascript-plain"></i><span class="margin-title-field">Javascript</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        
                        <li><a href="#javascript/inicio"><i class="fa fa-flag-o fa-fw"></i> INICIO</a></li>
                        <li><a href="#javascript/arquivo"><i class="fa fa-file-text-o fw"></i> Ajuda.js</a></li>
                        <li><a href="#javascript/array"><i class="fa fa-list-ul fw"></i> Array</a></li>
                        <li><a href="#javascript/classe"><i class="fa fa-file-text fa-fw"></i> Classe</a></li>                                   
                        <li><a href="#javascript/cors"><i class="fa fa-refresh fa-fw"></i> CORS</a></li>
                        <li><a href="#javascript/css"><i class="fa fa-css3 fa-fw"></i> CSS</a></li>
                        <li><a href="#javascript/console"><i class="fa fa-terminal fa-fw"></i> Console</a></li>
                        <li><a href="#javascript/atributos"><i class="mdi mdi-function fa-fw"></i> Data Atributos</a></li>
                        <li><a href="#javascript/data"><i class="fa fa-calendar fa-fw"></i> Data</a></li>
                        <li><a href="#javascript/elementos"><i class="fa fa-cube fa-fw"></i> Elementos</a></li>
                        <li><a href="#javascript/eventos"><i class="glyphicon glyphicon-retweet"></i> Eventos</a></li>
                        <li><a href="#javascript/eventos_mouse"><i class="glyphicon glyphicon-retweet"></i> Eventos Mouse</a></li>
                        <li><a href="#javascript/imagem"><i class="fa fa-picture-o fa-fw "></i> Imagem</a></li>
                        <li><a href="#javascript/json"><i class="fa fa-file-text-o fa-fw"></i> JSON</a></li>
                        <li><a href="#javascript/location"><i class="fa fa-anchor fa-fw"></i> Location</a></li>
                        <li><a href="#javascript/loop"><i class="fa fa-repeat fa-fw"></i> Loop</a></li>
                        <li><a href="#javascript/objeto"><i class="mdi mdi-cube-outline "></i> Objeto</a></li>
                        <li><a href="#javascript/promessas"><i class="fa fa-refresh fa-fw"></i> Promises</a></li>
                        <li><a href="#javascript/regex"><i class="mdi mdi-cube-outline "></i> Reg[EX]</a></li>
                        <li><a href="#javascript/requisicao"><i class="glyphicon glyphicon-transfer"></i> Requisição/Request</a></li>
                        <li><a href="#javascript/seletor"><i class="glyphicon glyphicon-filter fa-fw"></i> Seletores</a></li>
                        <li><a href="#javascript/teclado"><i class="fa fa-keyboard-o fa-fw"></i> Teclado</a></li>
                        <li><a href="#javascript/tempo"><i class="fa fa-keyboard-o fa-fw"></i> setTimeout & setInterval</a></li>
                        <li><a href="#javascript/validar"><i class="glyphicon glyphicon-check fa-fw"></i> Validar Campos</a></li>
                        <li><a href="#javascript/erros"><i class="fa fa-warning fa-fw"></i> ERROS</a></li>
                        <li>
                            <a href="#javascript-exemplos"><i class="fa fa-code fa-fw"></i> Exemplos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#javascript/exemplos/exemplo01">SELECT</a></li>
                                <li><a href="#javascript/exemplos/exemplo02">Ouvir/Bind</a></li>
                                <li><a href="#javascript/exemplos/exemplo03">Remover</a></li>
                                <li><a href="#javascript/exemplos/exemplo04">LOAD()</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#jquery">
                        <i class="cbp-ig-icon devicon-jquery-plain fa-fw"></i>
                        <span class="margin-title-field">jQuery</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#jquery/inicio"><i class="mdi mdi-transfer"></i> Inicio</a></li>
                        <li><a href="#jquery/ajax"><i class="fa fa-refresh fa-fw"></i> Ajax</a></li>
                        <li><a href="#jquery/api"><i class="fa fa-cloud fa-fw"></i> Api Rest</a></li>                                    
                        <li><a href="#jquery/componentes"><i class="glyphicon glyphicon-wrench"></i> Componentes</a></li>
                        <li><a href="#jquery/atributos"><i class="mdi mdi-function fa-fw"></i> Data Atributos</a></li>
                        <li><a href="#jquery/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li>
                        <li><a href="#jquery/eventos"><i class="glyphicon glyphicon-retweet"></i> Eventos</a></li>
                        <li><a href="#jquery/anonima"><i class="mdi mdi-function fa-fw"></i> Função Anonima</a></li>
                        <li><a href="#jquery/loop"><i class="fa fa-repeat fa-fw"></i> Loop</a></li>
                        <li><a href="#jquery/navegacao"><i class="fa fa-sitemap"></i> Navegação</a></li>
                        <li><a href="#jquery/seletores"><i class="fa fa-filter"></i> Seletores</a></li>
                        <li><a href="#jquery/metodos"><i class="fa fa-filter"></i> Metodos</a></li>
                        <li><a href="#jquery/erros"><i class="fa fa-warning fa-fw"></i> ERROS</a></li>
                        <li>
                            <a href="#jquery-exemplos"><i class="fa fa-code fa-fw"></i> Exemplos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#jquery/exemplos/exemplo_1">Exemplo 01</a></li>
                                <li><a href="#jquery/exemplos/exemplo_2">Exemplo 02</a></li>
                                <li><a href="#jquery/exemplos/exemplo_3">Exemplo 03</a></li>
                                <li><a href="#jquery/exemplos/exemplo_4">Exemplo 04</a></li>
                                <li><a href="#jquery/exemplos/exemplo_5">Exemplo 05</a></li>
                                <li><a href="#jquery/exemplos/exemplo_6">Exemplo 06</a></li>
                                <li><a href="#jquery/exemplos/exemplo_7">Exemplo 07</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#laravel">
                        <i style="font-size:130%" class="cbp-ig-icon devicon-laravel-plain"></i> Laravel<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#laravel/install"><i class="fa fa-gear fa-fw"></i> Instalação (Deepin)</a></li>
                        <li><a href="#laravel/inicio"><i class="fa fa-flag-o fa-fw"></i> Inicio</a></li>
                        <li><a href="#laravel/banco"><i class="fa fa-database fa-fw"></i> Banco de Dados</a></li>
                        <li><a href="#laravel/comandos"><i class="fa fa-terminal"></i> Comandos</a></li>
                        <li><a href="#laravel/login"><i class="icon-unlock fa-fw"></i> Login</a></li>
                        <li><a href="#laravel/erros"><i class="fa fa-search-plus fa-fw"></i> Erros</a></li>
                    </ul>
                </li>                            
                <li>
                    <a href="#linux">
                        <i class="fa fa-linux fa-fw fa-2x adjust-dashboard-icon"></i>
                        <span class="margin-title-field">Linux</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#linux/remoto"><i class="fa icon-authentication-keyalt fa-fw"></i> Acesso Remoto</a></li>
                            <li><a href="#linux/aliases"><i class="fa fa-mail-forward fa-fw"></i> Aliases/Atalhos</a></li>
                            <li><a href="#linux/apache"><i class="cbp-ig-icon devicon-apache-plain fa-fw" style="font-size:150%"></i> Apache</a></li>
                            <li>
                                <a href="#linux/comandos"><i class="fa fa-terminal fa-fw"></i> Comandos <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li><a href="#linux/comandos/arquivos"><i class="efa fa-file-o fa-fw"></i>  Arquivos</a></li>
                                    <li><a href="#linux/comandos/usuarios"><i class="fa fa-users fa-fw"></i>  Usuarios</a></li>
                                    <li><a href="#linux/comandos/diretorios"><i class="fa fa-folder fa-fw"></i>  Diretorios</a></li>
                                    <li><a href="#linux/comandos/rede"><i class="mdi mdi-sitemap fa-fw"></i>  Rede</a></li>
                                    <li><a href="#linux/comandos/sistema"><i class="fa fa-gears fa-fw"></i> Sistema Operacional</a></li>                                            
                                </ul>
                            </li>
                            <li>
                                <a href="#linux/impressora"><i class="fa fa-print fa-fw"></i>Impressora<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li><a href="#linux/impressora/instalacao"><i class="fa fa-gears fa-fw"></i> Instalação</a></li>
                                    <li><a href="#linux/impressora/configuracao"><i class="fa fa-gears fa-fw"></i>  Configuração</a></li>
                                    <li><a href="#linux/impressora/testes"><i class="fa fa-folder fa-fw"></i>  Testes</a></li>
                                </ul>
                            </li>
                            <li><a href="#linux/permissoes"><i class="fa fa-ban fa-fw"></i> Permissões</a></li>
                            <li><a href="#linux/repositorio"><i class="glyphicon glyphicon-cloud-download fa-fw"></i> Repositórios</a></li>
                            <li><a href="#linux/samba"><i class="fa fa-share-alt fa-fw"></i> Samba</a></li>
                            <li><a href="#linux/symlink"><i class="fa fa-share fa-fw"></i>  Symlink</a></li>                                                                                
                            <li><a href="#linux/erros"><i class="fa fa-times-circle fa-fw"></i> ERROS</a></li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#node">
                        <i style="font-size:130%" class="cbp-ig-icon devicon-nodejs-plain"></i> Node JS<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#node/install"><i class="fa fa-gear fa-fw"></i> Instalação (Deepin)</a></li>
                        <li><a href="#node/erros"><i class="fa fa-times-circle fa-fw"></i> Erros</a></li>
                    </ul>
                </li>                             

                <li>
                    <a href="#php"><i class="devicon-php-plain fa-fw fa-2x adjust-dashboard-icon"></i><span class="margin-title-field">PHP</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#php/autoload"><i class="fa fa-refresh fa-fw"></i> Autoload</a></li>
                        <li><a href="#php/abstract-functions"><i class="fa fa-gears fa-fw"></i> Abstract Functions</a></li>
                        <li><a href="#php/dicas"><i class="fa fa-lightbulb-o fa-fw"></i> Dicas</a></li>
                        <li><a href="#php/documentor"><i class="fa fa-book fa-fw"></i> Documentor</a></li>
                        <li><a href="#php/excessao"><i class="fa fa-warning fa-fw"></i> Exceções/Exceptions</a></li>
                        <li><a href="#php/functions"><i class="fa fa-gear fa-fw"></i> Funcoes</a></li>                                    
                        <li><a href="#php/imagem"><i class="fa fa-image fa-fw"></i> Imagem</a></li>
                        <li><a href="#php/impressora"><i class="fa fa-print fa-fw"></i> Impressora</a></li>
                        <li><a href="#php/mobile"><i class="fa fa-tablet fa-fw"></i> Mobile</a></li>
                        <li><a href="#php/mysql"><i class="icon-mysqlalt "></i> MySQL</a></li>
                        <li><a href="#php/objeto"><i class="mdi mdi-cube-outline "></i> Objeto</a></li>
                        <li><a href="#php/session"><i class="mdi mdi-cube-outline "></i> Session | Sessao</a></li>
                        <li><a href="#php/erros"><i class="fa fa-warning fa-fw"></i> ERROS</a></li>
                        <li>
                            <a href="#php-exemplos"><i class="fa fa-code fa-fw"></i> Exemplos <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="#php/exemplos/self">Self</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#rest"><i class="fa fa-refresh fa-fw fa-2x adjust-dashboard-icon"></i><span class="margin-title-field">RESTFULL</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#rest/introducao"><i class="fa fa-book fa-fw"></i> Introdução</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#rails"><i class="devicon-rails-plain fa-fw fa-2x adjust-dashboard-icon"></i><span class="margin-title-field">Ruby on Rails</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#rails/comandos_basicos"><i class="fa fa-gear fa-fw"></i> Básicos</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>