﻿

<h3>Não faz o push</h3>
<code>Unable to rewind rpc post data - try increasing http.postBuffer error: <br/>RPC failed; result=65, HTTP code = 301</code>
<BR/>Solução encontrada:<br>
<pre><code>$ git config http.postBuffer 524288000</code></pre>
<a href="https://stackoverflow.com/questions/2702731/git-fails-when-pushing-commit-to-github">stackoverflow</a>

<h3>error: Your local changes to the following files would be overwritten by merge</h3>
Erro completo abaixo:
<pre>
error: Your local changes to the following files would be overwritten by merge
*** LISTA DE ARQUIVOS ***
Please commit your changes or stash them before you merge.
Aborting
</pre>
Acontece porque a sua versão é anterior a verão atual, portanto antes de fazer o commit e o push você precisa atualizar para que os conflitos sejam locais
e nao no server.<br><br>
Solução:<br/>
<pre>git checkout HEAD^ CAMINHO/DO/ARQUIVO
git pull</pre>
<a href="https://stackoverflow.com/questions/14318234/how-to-ignore-error-on-git-pull-about-my-local-changes-would-be-overwritten-by-m">stackoverflow</a>

<hr>

<h3>Não faz o PUSH</h3>
Mensagem de erro:<br/>
<code>To prevent you from losing history, non-fast-forward updates were rejected Merge the remote changes (e.g. 'git pull') before pushing again.  See the 'Note about fast-forwards' section of 'git push --help' for details.</code>

<br/>Isso aconteceu depois que tentei fazer o <b>COMMIT</b> antes do <b>PULL</b>
Solução:<br/>
<pre>$git push --force</pre>

<a href="https://stackoverflow.com/questions/3598355/i-am-not-able-to-push-on-git">stackoverflow</a> - 
<a href="http://blog.locaweb.com.br/artigos/git-alem-do-push-e-pull-dicas-pra-voce-que-chegou-na-semana-passada/">Fonte 2</a>

<hr>

<h3>Não faz PULL</h3>
Mensagem de erro:<br/>
<code>git error  cannot lock ref 'refs/remotes/origin/master':</code>
<pre>git gc --prune=now

git remote prune origin

git pull origin master</pre>
<a href="https://stackoverflow.com/questions/2998832/git-pull-fails-unable-to-resolve-reference-unable-to-update-local-ref">Fonte</a>